.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 150px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.description {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: #555;
}
